
    body{
        background-color: #0f172a;
    }
     .icons {
          margin:2px;
          position: fixed;
          top:  30%;
          right: 0%;
          width: 250px;
          display: flex;
          flex-direction: column;
          background-color: transparent !important;
          z-index: 1;
         
      }
      .icons a{
          flex-direction: none;
          text-decoration: uppercase;
          padding:10px;
          font-size:22px;
          font-family:'oswald'san-serif;
          text-align: left;
          border-radius: 50px 0px 0px 50px; 
          transform: translate(180px, 0px); 
          transition: all 0.5s;
       
          
      }.icons a:hover { 
          transform: translate(0px, 0px); }.icons a:hover span{ transform: rotate(360deg); }
      .icons a span {
          background-color: white;
          margin-right:25px;
          height: 40px;
          width: 40px;
          color: black;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          transition: all 0.5s;
      } .icons a{
          text-transform:uppercase;
      }
      .facebook{
          background-color: #2c80d3;
          color: #fff;
      }
      .youtube{
          background-color: #fa0910;
          color: #fff;
      }.twitter{
          background-color: #53c5ff;
          color: #fff;
      }.linkedin{
          background-color: #007bb5;
          color: #fff;
      }.WhatsApp{
          background-color: green;
          color: #fff;
      }

      h1{
        text-align: center; color: #fff; font-size: 30px; margin-top: 300px;
      }
      h1 span{
            font-style: italic;
      }
